.container {
    padding: 2rem 1rem;
    line-height: 1.6;
    max-width: 1200px;
    margin: 0 auto;
}

.container h1 {
    font-family: "Bogart Alt Bold", sans-serif;
    line-height: 100%;
    font-size: 2em;
    margin-bottom: 20px;
}

.container ol {
    padding-left: 20px;
}

.container li {
    margin-bottom: 10px;
}

.container a {
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}
